@using PizzaStoreLogic.Logic

@{ 
    ViewBag.Title = "Pizza Rocket - Order Start";
}

@using (Html.BeginForm("CreateOrder", "Order"))
{
    <h2>Store</h2>
    <select class="form-control" name="store">
        <option value=0>Select a store</option>
        @foreach (var item in new DataService().GetStores())
        {
            string location = item.Address.Address1 + ", " + item.Address.City + ", " + item.Address.State + " " + item.Address.Zipcode;
            <option value="@item.Id">@location</option>
        }
    </select>
    <select class="form-control" name="paymentOption">
        <option value=0>Select a payment option</option>
        @foreach (var item in new DataService().GetPaymentTypes())
        {
            <option value="@item.Id">@item.Type</option>
        }
    </select>
    <div>
        <button type="submit" class="btn btn-success" value="Create Order">Create Order</button>
    </div>
}

