<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <connectionStrings configProtectionProvider="RsaProtectedConfigurationProvider">
        <EncryptedData Type="http://www.w3.org/2001/04/xmlenc#Element"
            xmlns="http://www.w3.org/2001/04/xmlenc#">
            <EncryptionMethod Algorithm="http://www.w3.org/2001/04/xmlenc#tripledes-cbc" />
            <KeyInfo xmlns="http://www.w3.org/2000/09/xmldsig#">
                <EncryptedKey xmlns="http://www.w3.org/2001/04/xmlenc#">
                    <EncryptionMethod Algorithm="http://www.w3.org/2001/04/xmlenc#rsa-1_5" />
                    <KeyInfo xmlns="http://www.w3.org/2000/09/xmldsig#">
                        <KeyName>Rsa Key</KeyName>
                    </KeyInfo>
                    <CipherData>
                        <CipherValue>NmiEHA76t1RmwYDnMNC+8WaF4wlv/rZP+mufHum/SFdCeQF8k3A05ZpH6a2XHLx8pkosLOjpuCWYC1EXXUOEIlPg/IGAXbGvXC/GXWZCNtY8l37k2QF784riag/aOrm4kftp+l6F2MMXsxE9barCstuUvVt1fz/RWABakBSF+0pTDa61N0ulGjrqVOiIyOOAwpMcX3+ZDfDFOoN8u91WEKrUClJqO8JAxhcFmjLW8GBhLEhMyOTVRANEhLjd7a4cs3tFFZpFYNoJN4hB2pl5IO4QqNRSHP7/+g8vtE9peKrJz034IcU//M8w1o6DGJqLM3ALsaYoSUyhnRTDSq/4Mg==</CipherValue>
                    </CipherData>
                </EncryptedKey>
            </KeyInfo>
            <CipherData>
                <CipherValue>IyWTMtUBGiK2EXbaleSLfitxCVcZVW+A8slK3osrtTE=</CipherValue>
            </CipherData>
        </EncryptedData>
    </connectionStrings>
</configuration>